{% extends 'patient/master.html' %}
{% block content%}
<style>
  .card-body {
    background-color: bisque;
  }

  /* #tb_donor{
    visibility: hidden;
  } */
</style>
<div class="container">


  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-sync-alt xyz"></i>
          </div><br>
          <div>
            Request Made <br>
            {{requests}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-sync xyz"></i>
          </div><br>
          <div>
            Pending Request <br>
            {{pendingrequest}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-check-circle xyz"></i>
          </div><br>
          <div>
            Approved Request<br>
            {{approvedrequest}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-light">
        <div class="card-body">
          <div class="blood">
            <i class="fas fa-times-circle xyz"></i>
          </div><br>
          <div>
            Rejected Request <br>
            {{rejectedrequest}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>

<div class="container" style="background-color: rgb(175, 236, 255);">
  <form method="POST">
    {% csrf_token %}
    <h3>Please select your district to find the donors of your nearby</h3>

    <div class="row">

      <div class="col-md-6 form-group ml-5">

        <select name="district" id="district" class="form-control browser-default custom-select">
          <option selected>Please select one</option>
          <option value="Kasargod" class="form-control">Kasargod</option>
          <option value="Kannur" class="form-control">Kannur</option>
          <option value="Wayanad" class="form-control">Wayanad</option>
          <option value="Kozhikode" class="form-control">Kozhikode</option>
          <option value="Malappuram" class="form-control">Malappuram</option>
          <option value="Palakkad" class="form-control">Palakkad</option>
          <option value="Thrissur" class="form-control">Thrissur</option>
          <option value="Eranakulam" class="form-control">Eranakulam</option>
          <option value="Alappuzha" class="form-control">Alappuzha</option>
          <option value="Idukki" class="form-control">Idukki</option>
          <option value="Kottayam" class="form-control">Kottayam</option>
          <option value="Pathanamthitta" class="form-control">Pathanamthitta</option>
          <option value="Kollam" class="form-control">Kollam</option>
          <option value="Trivandram" class="form-control">Trivandram</option>

        </select>
      </div>
    </div>

  </form>
  <div class="table-responsive pt-3">
    <table class="table table-success table-bordered" id="tb_donor">
      <thead>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Blood Group</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#district').change(function () {
    $.ajaxSetup({
      headers: {
        "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
      }
    })
    var district = $(this).val();
    $.ajax({
      url: "{% url 'patient:show_donors' %}",
      type: 'POST',
      data: {
        'district': district
      },
      success: function (response) {
        console.log(response.donors_list)
        var donors = response.donors_list;
        var html = '';
        for (var i = 0; i < donors.length; i++) {
          html += '<tr>';
          html += '<td>' + (i + 1) + '</td>'; // for serial number
          html += '<td>' + donors[i].name + '</td>'; // donor's first name
          html += '<td>' + donors[i].email + '</td>'; // donor's email
          html += '<td>' + donors[i].blood_group + '</td>'; // donor's blood group
          html += '<td>' + donors[i].gender + '</td>'; // donor's gender
          html += '<td>' + donors[i].address + '</td>'; // donor's address
          html += '<td>' + donors[i].phone + '</td>'; // donor's phone number
          html += '</tr>';

        //  html1=`
        //  <tr>
        //   <td>${i + 1}</td>
        //   <td>${donors[i].name}</td>
        //   <td></td>
        //   <td></td>
        //   <td></td>
        //   <td></td>
        //   <td></td>
        // </tr>
         
        //  `
        }
        $('#tb_donor tbody').html(html);
      }
    })
  });
</script>
{% endblock %}