{% extends 'siteadmin/master.html'%}

{% load static %}
{% block content %}
<div class="container">
    <H4 class="text-center pt-5">Donations Details</H4><br>
    <div class="table-responsive pt-3">
        <table class="table table-success table-bordered">
            <tr>
                <th scope ="col">SINo</th>
                <th scope="col">Name</th>
                <th scope="col">Disease</th>
                <th scope="col">Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Unit</th>
                <th scope="col">Request Date</th>
                <th scope="col">Status</th>

                <th scope="col">Action</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
                {% for bd in blood_donate %}
                <form method="POST">
                    {% csrf_token %}
                    <tr class="table-danger">
                        <td>{{forloop.counter}}</td>
                        <td>{{bd.donor.f_name}}</td>
                        <td>{{bd.disease}}</td>
                        <td>{{bd.age}}</td>
                        <td>{{bd.bloodgroup}}</td>
                        <td>{{bd.unit}}</td>
                        <td>{{bd.date}}</td>
                        <td>{{bd.status}}</td>

                        <td><a href="{% url 'siteadmin:approve_donations' bd.donor.id %}" class="btn btn-success" type='submit' name='approve'>Approve</a>
                            <a href="" class="btn btn-danger" type='submit' name='reject'>Reject</a>
                        </td>
                        <td><input type="hidden" name="donor_id" value ={{bd.donor.id}} id=""></td>



                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}