{% extends 'siteadmin/master.html'%}
{% load static %}
{% block content %}
<div class="container">
    <H4 class="text-center pt-5">Patients Details</H4><br>
    <div class="table-responsive pt-3">
        <table class="table table-success table-bordered">
            <tr>
                <th scope="col">SINo</th>
                <th scope="col">Name</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Age</th>
                <th scope="col">Disease</th>
                <th scope="col">Contact</th>
                
            </tr>
        </thead>
        <tbody>
            

                {% for patient in patient_list %}
                 {% csrf_token %}
            <tr class ="table-danger">

                <td>{{forloop.counter}}</td>

            
                <td>{{patient.f_name}}</td>
                <td>{{patient.blood_group}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.disease}}</td>
                <td>{{patient.phone}}</td>

            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
            
{% endblock %}