{% extends 'blood/master.html' %}
{% load static %}
{% block content %}
<style>
  .mission:hover{
    transition: width 4s, height 4s;
    width:300px;
    height:300px;
  }
  .image:hover{
    transition: width 4s, height 4s;
    width:300px;
    height:300px;
  }

    
  
  
</style>

<div class="slider-detail">
  <div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/slide-02.jpg' %}" class="d-block w-100" alt="..." style="height:450px">
        <div class="carousel-caption d-none d-md-block">
          <h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
          <p class=" bounceInLeft"> “Blood Donation Costs You Nothing, But It Can Mean The World To Someone In Need.”</p>

          <div class=" vbh">

              <div class="btn btn-success  bounceInUp"> Donate Blood </div>
              <div class="btn btn-success  bounceInUp"> Contact US </div>
          </div>
      </div>

      </div>
      <div class="carousel-item">
        
        <img src="{% static 'images/slide-03.jpg' %}"  class="d-block w-100" alt="..." style="height:450px">
        <div class="carousel-caption d-none d-md-block">
          <h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
          <p class=" bounceInLeft">“Donating Money Is Great, But Donating Blood Is Even Better.”.</p>

          <div class=" vbh">

              <div class="btn btn-success  bounceInUp"> Donate Blood </div>
              <div class="btn btn-success  bounceInUp"> Contact US </div>
          </div>
      </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/caro3.jpg' %}" class="d-block w-100" alt="..." style="height:450px">
        <div class="carousel-caption d-none d-md-block">
          <h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
          <p class=" bounceInLeft">“The Best Among Men Is The One Who Helps Others, So Donate Blood And Be Helpful.”</p>

          <div class=" vbh">

              <div class="btn btn-success  bounceInUp"> Donate Blood </div>
              <div class="btn btn-success  bounceInUp"> Contact US </div>
          </div>
      </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  {% comment %} <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'images/slide-02.jpg' %}" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                  <h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
                  <p class=" bounceInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, <br>
                      aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis <br>
                      sed sagittis at, sagittis quis neque. Praesent.</p>

                  <div class=" vbh">

                      <div class="btn btn-success  bounceInUp"> Book Appointment </div>
                      <div class="btn btn-success  bounceInUp"> Contact US </div>
                  </div>
              </div>
          </div>

          <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'images/slide-03.jpg' %}" alt="Third slide">
              <div class="carousel-caption vdg-cur d-none d-md-block">
                  <h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
                  <!-- <p class=" bounceInLeft">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, <br>
                      aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis <br>
                      sed sagittis at, sagittis quis neque. Praesent.</p> -->

                  <div class=" vbh">

                      <div class="btn btn-danger  bounceInUp"> Donate Now </div>
                      <div class="btn btn-danger  bounceInUp"> Contact US </div>
                  </div>
              </div>
          </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>


</div>

<!--*************** About Us Starts Here ***************-->
{% comment %} <section id="about" class="contianer-fluid about-us">
 <div class="container">
     <div class="row session-title">
         <h2>About Us</h2>
         <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p>
     </div>
      <div class="row">
          <div class="col-md-6 text">
              <h2>About Blood Doners</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some formhumour, or randomised words which don't look even slightly believable. If you are going to use a passage. industry's standard dummy has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
              <p>Industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
          </div>
          <div class="col-md-6 image">
              <img src="assets/images/about.jpg" alt="">
          </div>
      </div>
 </div> {% endcomment %}


    




 <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3 mt-5 ml-5" style="width:300px;">
              <div class="card-header text-center">Our Mission</div>
              <div class="card-body">
                <h5 class="card-title">Info card title</h5> 
                <p class="card-text">Our Mission is to spread awareness among the people to donate blood and 
                  to make each person a voluntary blood donor; thereby, fulfilling every blood request..</p>
              </div>
            </div>
        </div>
      <div class="col-md-6 pl-5 mt-5">
        <img src="{% static 'images/quote1.webp' %}" style="height:400px">
      </div>
      <div class="col-md-3">
     
        <div class="card text-white bg-warning mb-3 mt-5" style="width:300px;">
          <div class="card-header text-center">Our Vission</div>
          <div class="card-body">
             <h5 class="card-title">Info card title</h5> -->
            <!-- <p class="card-text"> Our Vision is to build up a better and safer tomorrow.</p>
          </div>
        </div>
        
      </div> 
    </div>  -->
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row " >
        <div class="col-md-3 ">
   
    <div class="card text-black  mb-3 mt-5 ml-5 mission " style=" background-color: rgb(231, 117, 117);">
              <div class="card-header text-center bg-white" style="font-size:20px;font-family: 'Times New Roman', Times, serif;">Our Mission</div>
              <div class="card-body">
                <!-- <h5 class="card-title">Info card title</h5> -->
                <p class="card-text">Our Mission is to spread awareness among the people to donate blood and 
                  to make each person a voluntary blood donor; thereby, fulfilling every blood request..</p>
              </div>
        </div>
      </div>
      <div class="col-md-6 pl-10">
        <img src="{% static 'images/whyshould.webp' %}"style="height:350px;width:500px;margin-left:30px;padding-left:30px" >

      </div> 
        <div class="col-md-3">
     
          <div class="card text-black  mb-3 mt-5 mission"  style="background-color: rgb(231, 117, 117);">
            <div class="card-header text-center bg-white" style="font-size:20px;font-family: 'Times New Roman', Times, serif;">Our Vision</div>
            <div class="card-body">
              <!-- <h5 class="card-title">Info card title</h5> -->
              <p class="card-text"> Our Vision is to build up a better and safer tomorrow.</p>
            </div>
          </div>
          
        </div> 

      </div>
    </div>
    <br>
    <br>

    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h4 style="font-family:cursive;">Why blood donation is important?</h4>
        <img src="{% static 'images/bloodwhy.png' %}" style="height:400px">

        </div>
        <div class="col-md-6">
    <ul><span style="font-size:large;">Safe blood saves lives and improves health. Blood transfusion is needed for:</span>
             <li> Women with complications of pregnancy, such as ectopic pregnancies and haemorrhage before, during or after childbirth;</li>
<li>children with severe anaemia often resulting from malaria or malnutrition;</li>
<li>People with severe trauma following man-made and natural disasters;</li>
<li>Many complex medical and surgical procedures and cancer patients.</li>
It is also needed for regular transfusions for people with conditions such as thalassaemia and sickle cell disease and is used to make products such as clotting factors for people with haemophilia. There is a constant need for regular blood supply because blood can be stored for only a limited time before use. Regular blood donations by a sufficient number of healthy people are needed to ensure that safe blood will be available whenever and wherever it is needed.
Blood is the most precious gift that anyone can give to another person — the gift of life. A decision to donate your blood can save a life, or even several if your blood is separated into its components — red cells, platelets and plasma — which can be used individually for patients with specific conditions
    </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>

  <div class="container-fluid " style="background-color: rgba(240, 233, 233, 0.813);">
    <h2 class="text-center" style="font-family:cursive; padding-top: 50px;">Your blood donation essentials</h2>
    <div class="row pt-5">
      <div class="col-md-4">
        <h5>How much blood do you give when you donate?</h5>
        470ml. It's about 8% of the average adult's blood volume
        . Within 24-48 hours of donating,
         your body will have fully restored your blood volume.
      </div>
      <div class="col-md-4">
        <h5>How long does it take to donate?</h5>
        10 minutes. But allow for an hour for the whole appointment,
         which includes meeting with a friendly staff member before your 
         donation and having a complimentary snack and drink after.
      </div>
      <div class="col-md-4">
        <h5>How often can I give blood?</h5>
        Every 12 weeks. If you're keen to donate more often,
         you can give plasma every two weeks. 
      </div>
    </div>

  </div>  
  <br>
  <br><br><br>

  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center" style="font-family:cursive; padding-top: 50px">Steps for using BDMS</h2>
      <div class=" col-md-3">
        <img src="{% static 'images/registraion.jpg' %}"  class="image"  style="height:150px;" >

        <h4>1-Registraion</h4>
        The donors who wish to donate thier blood should register in BDMS

      </div>
      <div class=" col-md-3">
        <img src="{% static 'images/seeing.jpg' %}"  class="image" style="height:150px;">

        <h4>2-Seeing</h4>
        By the approval from our admin you can wait untill a patient matches your blood group.

      </div>
      <div class=" col-md-3">
        <img src="{% static 'images/donationstep.jpg' %}"  class="image" style="height:150px">

    
        <h4>3-Donation</h4>
        You can Donate your blood  to the patients who needs your blood
        

      </div>
      <div class=" col-md-3">
        <img src="{% static 'images/savelife.png' %}"  class="image" style="height:150px;width:200px" >

  
        <h4>4-Save Life</h4>
        Your good work may help someone to save life

      </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
      <div class="row">
      <h2 class="text-center" style="font-family:cursive; padding-top: 50px">Compatible blood types</h2>

        <div class="col-md-12">

        <img src="{% static 'images/bloodtypes.png' %}"style="height:350px;margin-left:80px" >


        </div>
       
    </div>
    <br>
    <br>
    <br>
    <h2>Do you have any charges for your service?</h2>
    No..! Our service is 100% free

  </div>


    {% endblock content%}