{% extends 'blood/master.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/master.css' %}">

{% block content %}


<br>
<br>

<br>
<br>
							
			
			
									
								
<div class="container mt-3">
    <form method="POST">
      {% csrf_token %} 
      <div class="row" style="background-color:rgb(134, 181, 246)">
        <div class="col-sm-12 mx-t3 mb-4">
          <h2 class="text-center text-danger" >Patient Registration</h2>
        </div>
        <div class="col-md-6 form-group">
          <label for="name-f">First Name</label>
          <input type="text" class="form-control" name="fname" id="name-f" placeholder="Enter your first name." required>
        </div>
        <div class="col-md-6 form-group">
          <label for="name-l">Last name</label>
          <input type="text" class="form-control" name="lname" id="name-l" placeholder="Enter your last name." required>
        </div>
        <div class="col-md-6 form-group">
          <label for="user_name">User Name</label>
          <input type="text" class="form-control" name="user_name" id="user_name" required>
        </div>
		<div class="col-md-6 form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" id="password" required>
		  </div>
        
        <div class="col-md-6 form-group">
            <label for="bg">Blood Group</label>
            <select id="bg" name ="bg" class="form-control browser-default custom-select">
            <option selected>Please select one</option>
            <option value="A+" class="form-control">A+</option>
            <option value="B+"class="form-control">B+</option>
            <option value="AB+" class="form-control">AB+</option>
            <option value="O+" class="form-control">O+</option>
            <option value="A-" class="form-control">A-</option>
            <option value="B-" class="form-control">B-</option>
            <option value="AB-" class="form-control">AB-</option>
            <option value="O-" class="form-control">O-</option>

            </select>
        </div>
        <div class="col-sm-6 form-group">
            <label for="Age">Age</label>
            <input type="number" name="age" class="form-control" id="age" placeholder="" required>
          </div>
          <div class="col-sm-6 form-group">
            <label for="sex">Gender</label>
            <select id="sex"  name ="gender" class="form-control browser-default custom-select">
              <option value="male" name ="gender ">Male</option>
              <option value="female" name="gender">Female</option>
              <option value="unspesified" name ="gender">Transgender</option>
            </select>
          </div>
		  <div class="col-md-6 form-group">
			<label for="disease">Disease</label>
			<input type="text" class="form-control" name="disease" id="disease" required>
		  </div>
		  <!-- <div class="col-md-6 form-group">
			<label for="nature">Nature of blood requirement</label>
			<select id="nature" class="form-control browser-default custom-select">
				<option value="emergency">Emergency</option>
				<option value="non_emergency">Non-emergency</option>
			  </select>
		  </div> -->
        <div class="col-md-6 form-group">
          <label for="address">Address Line</label>
          <input type="text" class="form-control" name="address" id="address" placeholder="Locality/House/Street no." required>
        </div>
        <!-- <div class="col-md-6 form-group">
          <label for="address-2">Address Line-2</label>
          <input type="text" class="form-control" name="address" id="address-2" placeholder="Village/City Name." required>
        </div> -->
        <div class="col-md-6 form-group">
          <label for="district">District</label>
          <select id="district" name="district" class="form-control browser-default custom-select">
            <option selected>Please select one</option>
            <option value="Kasargod" class="form-control">Kasargod</option>
            <option value="Kannur"class="form-control">Kannur</option>
            <option value="Wayanad" class="form-control">Wayanad</option>
            <option value="Kozhikode" class="form-control">Kozhikode</option>
            <option value="Malappuram" class="form-control">Malappuram</option>
            <option value="Palakkad" class="form-control">Palakkad</option>
            <option value="Thrissur" class="form-control">Thrissur</option>
            <option value="Eranakulam" class="form-control">Eranakulam</option>
            <option value="Alappuzha" class="form-control">Alappuzha</option>
            <option value="Idukki" class="form-control">Idukki</option>
            <option value="Kottayam" class="form-control">Kottayam</option>
            <option value="Pathanamthitta" class="form-control">Pathanamthitta</option>
            <option value="Kollam" class="form-control">Kollam</option>
            <option value="Trivandram" class="form-control">Trivandram</option>

            </select>
        </div>
        <!-- <div class="col-md-2 form-group">
          <label for="zip">Postal-Code</label>
          <input type="text" class="form-control" name="Zip" id="zip" placeholder="Postal-Code." required>
        </div> -->
        <div class="col-sm-4 form-group">
          <label for="tel">Phone</label>
          <input type="text" name="phone" class="form-control" id="tel" placeholder="Enter Your Contact Number." required>
        </div>
       
        <div class="col-sm-12">
          <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb" class="form-check-label">&nbsp;I accept all terms and conditions.
          </label>
        </div>
  
        <div class=" d-grid gap-2 col-4 mx-auto mb-2">
          <button class="btn btn-primary text-center">Submit</button>
        </div>
  
      </div>
    </form>
  </div>
{% endblock content %}
